<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="display" style="width: 500px;height: 500px;"></div>
<input type="text" id="message">
<button onclick="send()">Send</button>
<script>
    var websocket = null;
    if ("WebSocket" in window) {
        websocket = new WebSocket("ws://localhost:8090/chatroom");
    } else {
        alert("websocket not supported");
    }
    websocket.onopen = function () {
        setMessageInnerHTML("open");
    };
    websocket.onmessage = function (event) {
        setMessageInnerHTML(event.data);
    };
    websocket.onclose = function () {
        setMessageInnerHTML("close");
    };
    websocket.onbeforeunload = function () {
        websocket.close();
    };

    function send() {
        var message = document.getElementById("message").value;
        websocket.send(message);
        document.getElementById("message").value = "";
    }

    function setMessageInnerHTML(message) {
        document.getElementById("display").innerHTML += message + "<br/>";
    }
</script>
</body>
</html>