<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>

<script>
    $(function () {
        function clickGoPay(){
        }
    })
</script>
<body>
<div id="app">
    <el-form ref="form" :model="order" label-width="90px">
        <el-form-item label="订单号">
            <el-input v-model="order.WIDout_trade_no"></el-input>
        </el-form-item>
        <el-form-item label="订单名称">
            <el-input  v-model="order.WIDsubject" ></el-input>
        </el-form-item>
        <el-form-item label="付款金额">
            <el-input v-model.number="order.WIDtotal_amount"></el-input>
        </el-form-item>
        <el-form-item label="商品描述">
            <el-input v-model.number="order.WIDbody"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">去支付</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
    <div id="returnAli"></div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                order: {
                    WIDout_trade_no: '', // 商户订单号
                    WIDsubject: '', // 订单名称
                    WIDtotal_amount: '', // 付款金额
                    WIDbody: '',// 商品描述：
                }
            }
        },
        created() {
            var vNow = new Date();
            var sNow = "";
            sNow += String(vNow.getFullYear());
            sNow += String(vNow.getMonth() + 1);
            sNow += String(vNow.getDate());
            sNow += String(vNow.getHours());
            sNow += String(vNow.getMinutes());
            sNow += String(vNow.getSeconds());
            sNow += String(vNow.getMilliseconds());
            console.log(sNow)
            this.order.WIDout_trade_no =  sNow;
            this.order.WIDsubject = "测试";
            this.order.WIDtotal_amount = "0.01";
            this.order.WIDbody = "商品描述";
        },
        methods:{
            onSubmit() {
             var orderParams = this.order;
                $.ajax({
                    type : "POST",
                    data : {
                        WIDout_trade_no : orderParams.WIDout_trade_no,
                        WIDsubject : orderParams.WIDsubject,
                        WIDtotal_amount : orderParams.WIDtotal_amount,
                        WIDbody : orderParams.WIDbody
                    },
                    url : "/goPay",
                    success : function(res) {
                        if (res.status === 20000 && this.form.type == 2){
                            //打开新页面
                            window.open(routerData.href,'_ blank')
                        }
                    },
                    error : function(da){
                        console.log("请求失败")
                    }

                });
            }
            }
    })
</script>
</html>