<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>商品页面</el-header>
        <el-container>
            <el-aside width="400px">
                <el-row class="tac">
                    <el-col :span="12">
                        <el-menu
                                default-active="1"
                                class="el-menu-vertical-demo"
                                @select="handleOpen">
                            <el-menu-item index="1">
                                <i class="el-icon-menu"></i>
                                <span slot="title">所有商品</span>
                            </el-menu-item>
                            <el-menu-item index="2">
                                <i class="el-icon-menu"></i>
                                <span slot="title">我的订单</span>
                            </el-menu-item>
                            <el-menu-item index="4">
                                <el-badge :hidden="messageInfoData.length<=0" :value="messageInfoData.length" class="item">
                                    <el-button size="small">消息通知</el-button>
                                </el-badge>
                                <!--<span slot="title">消息通知</span>-->
                            </el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <template v-if="tabIndex=='1'" >
                <el-table
                    :data="shopData"
                    style="width: 100%">
                    <el-table-column
                            :key="1"
                            prop="id"
                            label="编号"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="shopName"
                            label="名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="price"
                            label="价格">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleBuy(scope.$index, scope.row)">购买</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog title="购买" :visible.sync="dialogFormVisible">
                    <el-form :model="shop">
                        <el-form-item label="商品名称" :label-width="formLabelWidth">
                            <el-input v-model="shop.shopName" disabled ></el-input>
                        </el-form-item>
                        <el-form-item label="价格" :label-width="formLabelWidth">
                            <el-input v-model="shop.price" placeholder="0.0" disabled ></el-input>
                        </el-form-item>
                        <el-form-item label="数量" :label-width="formLabelWidth">
                            <template>
                                <el-input-number v-model="shop.number" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
                            </template>
                        </el-form-item>
                        <el-form-item label="支付方式" :label-width="formLabelWidth">
                            <template>
                                <el-radio v-model="shop.payType" label="alipay">支付宝</el-radio>
                                <el-radio v-model="shop.payType" label="wechat">微信</el-radio>
                            </template>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="initStatus">取 消</el-button>
                        <el-button type="primary" @click="doPay">付 款</el-button>
                    </div>
                    <!-- 路由出口 -->
                    <!-- 路由匹配到的组件将渲染在这里 -->
                </el-dialog>
                </template>
                <!-- 订单显示 -->
                <template v-else-if="tabIndex=='2'" >
                    <el-table
                            :row-class-name="tableRowClassName"
                            :key="2"
                            :data="orderData"
                            style="width: 100%">
                        <el-table-column
                                prop="id"
                                label="订单编号"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="shopName"
                                label="商品名称">
                        </el-table-column>
                        <el-table-column
                                prop="sumprice"
                                label="总价">
                        </el-table-column>
                        <el-table-column
                                prop="payType"
                                label="支付类型">
                        </el-table-column>
                        <el-table-column
                            prop="payStatus"
                            label="支付状态">
                    </el-table-column>
                        <el-table-column
                                prop="createTimeVo"
                                label="创建时间">
                        </el-table-column>
                        <el-table-column
                                prop="payTimeVo"
                                label="支付时间">
                        </el-table-column>
                    </el-table>
                </template>
                <template v-else="tabIndex=='3'" >
                    <el-table
                            :row-class-name="tableRowClassName"
                            :key="3"
                            :data="messageInfoData"
                            style="width: 100%">
                        <el-table-column
                            prop="id"
                            label="订单编号"
                            width="180">
                   </el-table-column>
                        <el-table-column
                                prop="payTimeVo"
                                label="总价">
                        </el-table-column>
                        <el-table-column
                                prop="sumprice"
                                label="总价">
                        </el-table-column>
                        <el-table-column
                                prop="payType"
                                label="支付类型">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)">查看消息（消息置为已读）</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-main>
        </el-container>
    </el-container>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<style>
    .el-table .warning-row {
        background: oldlace;
    }
    .el-table .success-row {
        background: #f0f9eb;
    }
    .el-table .red-row {
        background: #f1cab7;
    }
</style>

<script>

    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1517 弄'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1519 弄'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1516 弄'
                }],
                tabIndex:"1", // tab 菜单下标 从1 开始
                orderData: [],
                payData:[],
                shopData:[],
                price:0.0,
                shop:{
                    id:"",
                    shopName:"",
                    price:"",
                    number:1,
                    payType:"alipay",
                },
                order:{
                      id:"",
                    shopName:"",
                    payStatus:"",
                    number:"",
                    payType:"",
                    sumprice:"",
                },
                dialogFormVisible:false,
                formLabelWidth: '120px',
                WIDout_trade_no:"", // 订单号
                messageInfoData:[], // 消息集合
            }
        },
        mounted(){
            var websocket = null;
            var _this = this;
            if ("WebSocket" in window) {
                websocket = new WebSocket("ws://localhost:8090/chatroom");
            } else {
                alert("websocket not supported");
            }
            websocket.onopen = function () {
                //_this.setMessageInnerHTML("open");
                console.log("建立websocket连接")
            };
            websocket.onmessage = function (event) {
                _this.setMessageInnerHTML(event.data);
            };
            websocket.onclose = function () {
             //   _this.setMessageInnerHTML("close");
                console.log("断开websocket连接")
            };
            websocket.onbeforeunload = function () {
                websocket.close();
            };
        },
        created(){
            var that  = this;
            axios.get('/shop/all/1/10')
                .then(function (response) {
                    that.shopData = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            this.queryData("1");
        },
        methods: {
      setMessageInnerHTML(message) {
          console.log(message);
          if (message != null) {
              let jsonObj = JSON.parse(message)
              this.messageInfoData.push(jsonObj)
              for(var i= 0;i<this.messageInfoData.length;i++){
                  var item = this.messageInfoData[i];
                  if (this.messageInfoData[i].payType=="alipay"){
                      this.messageInfoData[i].payType = "支付宝"
                  }else if (item.payType=="wechat"){
                      this.messageInfoData[i].payType = "微信"
                  }
                  if (item.payStatus=="0"){
                      this.messageInfoData[i].payStatus = "待支付"
                  }else if(item.payStatus=="1"){
                      response.data[i].payStatus = "已支付"
                  }else if (item.payStatus=="2") {
                      this.messageInfoData[i].payStatus = "取消订单"
                  }
              }
          }
          console.log(this.messageInfoData)
    },
    tableRowClassName({row, rowIndex}) {
                if (row.payStatus == "待支付") {
                    return 'warning-row';
                } else if (row.payStatus == "已支付") {
                    return 'success-row';
                }
                return 'red-row';
        },
            queryData(tabIndex){
                var that  = this;
                if (tabIndex=='1'){
                    axios.get('/shop/all/1/10')
                        .then( response => {
                            this.shopData = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else if (tabIndex=="2"){
                    axios.get('/order/all/1/100')
                        .then(response => {
                            console.log(response)
                            for(var i= 0;i<response.data.length;i++){
                                var item = response.data[i];
                                if (response.data[i].payType=="alipay"){
                                    response.data[i].payType = "支付宝"
                                }else if (item.payType=="wechat"){
                                    response.data[i].payType = "微信"
                                }
                                if (item.payStatus=="0"){
                                    response.data[i].payStatus = "待支付"
                                }else if(item.payStatus=="1"){
                                    response.data[i].payStatus = "已支付"
                                }else if (item.payStatus=="2") {
                                    response.data[i].payStatus = "取消订单"
                                }
                            }
                            this.orderData = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else{
                }
            },
            initStatus(){
                this.shop.payType = "alipay";
                return this.dialogFormVisible = false;
            },
            handleBuy(index, row) {
                this.shop = row;
                this.shop.number = 1;
                this.shop.payType = "alipay";
                this.dialogFormVisible = true;
                this.price = row.price;
                var vNow = new Date();
                var sNow = "";
                sNow += String(vNow.getFullYear());
                sNow += String(vNow.getMonth() + 1);
                sNow += String(vNow.getDate());
                sNow += String(vNow.getHours());
                sNow += String(vNow.getMinutes());
                sNow += String(vNow.getSeconds());
                sNow += String(vNow.getMilliseconds());
                this.WIDout_trade_no =  sNow;
                // 创建订单。
                 this.addorder();
            },
            addorder(){
                // 创建一个订单，
                console.log(this.shop.payType)

                var T_Order = {
                    id : this.WIDout_trade_no,
                    userId : "1",
                    shopId : this.shop.id,
                    number: "1",
                    payStatus : "0", //支付状态
                    payType:this.shop.payType, // 支付方式
                    sumprice:this.shop.price
            }
                axios({
                    method: 'post',
                    url: '/order/articles',
                    data: JSON.stringify(T_Order),
                    headers:{
                        'Content-Type':'application/json'
                    }
                }).then(function (response) {
                    // 打开新的页面进行填充html。
                  console.log("新增成功")
                }).catch(function (error) {
                    console.log(error);
                });
            },
            handleChange(value) {
                this.shop.price = parseFloat(this.price)*value;
            },
            doPay(){
                var _this = this;
                // 点击付款
                // 需要进行转换
                var postData = Qs.stringify({
                    WIDout_trade_no : _this.WIDout_trade_no,
                    WIDsubject : "测试支付",
                    WIDtotal_amount : _this.shop.price+"",
                    WIDbody : "购物",
                    number:_this.shop.number,
                    payType:this.shop.payType
                });
                axios({
                    method: 'post',
                    url: '/goPay',
                    data: postData
                }).then(function (response) {
                    // 打开新的页面进行填充html。
                    var newwindow = window.open("#","_blank");
                    newwindow.document.write(response.data);
                }).catch(function (error) {
                        console.log(error);
                    });
                this.initStatus();
            },
            handleOpen(key, keyPath) {
                this.tabIndex = keyPath;
                // 查询数据
                this.queryData(this.tabIndex);

            },
            handleEdit(index, row) {
                console.log(index, row);
                // 修改消息状态
                console.log("修改消息状态")
                this.messageInfoData.splice(index,1);
            },
        }
    })
</script>
</html>